@font-face {
  font-family: "Dana";
  src: url("../../public/Dana-Regular.ttf") format("truetype");
  font-family: "Dana";
}
body {
  direction: rtl;
  font-family: "Dana";
}
.section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/hero-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  width: 100%;
}
div h1 {
  font-size: 3.5rem;
  color: white;
}
.kasuka-style {
  color: #ffc451;
}

div h3 {
  font-size: 1.8rem;
  color: white;
}
