* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Dana";
  src: url("../../public/Dana-Regular.ttf") format("truetype");
  font-family: "Dana";
}
body {
  direction: rtl;
  font-family: "Dana";
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
}
h1 a {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
}
.activeLI {
  color: #ffc451;
}
ul li a:hover {
  color: #ffc451;
}

li {
  padding: 10px 10px;
}

button {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #ffc451;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 200;
}

button:hover {
  background-color: #ffc451;
  color: #000;
  transition: all 200ms linear;
}
